<!-- namv-bar -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- collapse and logo -->
    <div class="col-4">
      <a class="btn" role="button" (click)="toggleSidebar()">
        <i class="fas fa-align-justify fa-lg"></i>
      </a>
      <a class="navbar-brand" href="#">Navbar</a>
    </div>
    <!-- image profile and dropdown -->
    <div class="align-end">
      <img src="assets/avatar.jpg" alt="Avatar" class="avatar">
      <a class="btn" role="button"><i class="fas fa-caret-down fa-lg"></i></a>
    </div>
  </div>
</nav>

<!-- side bar -->
<ng-sidebar-container>
  <!-- menu -->
  <ng-sidebar [opened]="opened">
    <button class="btn btn-primary" (click)="toggleSidebar()">
      Close Side Bar
    </button>
    <ul class="menu">
      <li><a routerLink="/">Dashboard</a></li>
      <li><a routerLink="/posts">Posts</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </ng-sidebar>
  <!-- page content -->
  <div ng-sidebar-content>
    <h1>The Content</h1>
  </div>
</ng-sidebar-container>
